.link {
  display: block;
  margin: 1em;
  border-radius: 20em;
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: cornflowerblue;
  color: #FFF;
  text-decoration: none;
}
